
@{
    ViewBag.Title = "Login";
    ViewBag.TitlePag = "Acceso pacientes";

    Layout = "~/Views/Shared/_Login.cshtml";
}

<form id="frm" name="frm" method="post">

    <div class="form-group">
        <label>Usuario:</label>
        <input class="form-control" required type="text" name="usuario" value="" />
    </div>

    <div class="form-group">
        <label>Clave:</label>
        <input class="form-control" required type="password" name="clave" value="" />
    </div>

    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Enviar" />
    </div>

    <div style="display:@ViewBag.Display" class="alert alert-danger">
        @ViewBag.Msg
    </div>

</form>
