@model Models.ReservaModel
@{
    ViewBag.Title = "DropVistas";
    ViewBag.TitlePag = "Uso de DropDownList";
    Layout = "~/Views/Shared/_Plantilla.cshtml";

    var habitaciones = new List<SelectListItem>();
    habitaciones.Add(new SelectListItem() { Text = "Todas", Value = "" });
    foreach (var item in ViewBag.Habitaciones)
    {
        habitaciones.Add(new SelectListItem() { Text = item.texto, Value = item.valor });
    }

    var clientes = new List<SelectListItem>();
    clientes.Add(new SelectListItem() { Text = "Todos", Value = "" });
    foreach (var item in ViewBag.Clientes)
    {
        clientes.Add(new SelectListItem() { Text = item.texto, Value = item.valor });
    }
}

<p>
    <label>Habitaciones:</label>
    @Html.DropDownListFor(model => model.idhabitacion,
    (List<SelectListItem>)habitaciones,
    new {@class="",@required = true })
</p>

<p>
    <label>Clientes:</label>
    @Html.DropDownListFor(model => model.idcliente,
    (List<SelectListItem>)clientes,
    new { @class = "", @required = true })
</p>

