@model Models.PagoModel

@{
    ViewBag.Title = "Borrar";
    ViewBag.TitlePag = "Borrar Pago";
    Layout = "~/Views/Shared/_Plantilla.cshtml";


  

    var estado = new List<SelectListItem>();
    estado.Add(new SelectListItem() { Text = "Todos", Value = "0" });
    estado.Add(new SelectListItem() { Text = "Pago Completo", Value = "1" });
    estado.Add(new SelectListItem() { Text = "Abonado", Value = "2" });
}

@using (Html.BeginForm(FormMethod.Post))
{
<div class="form-group">
    <label>Lista de Reservas:</label>
    @Html.TextBoxFor(model => model.NombreCliente, new { @class = "form-control", @readonly = true, @type = "text" })

</div>

    <div class="form-group">
        <label>Monto Pagado:</label>
        @Html.TextBoxFor(model => model.Totaltxt, new { @class = "form-control", @readonly = true, @type = "text" })
    </div>

    <div class="form-group">
        <label>Estado:</label>
        @Html.TextBoxFor(model => model.EstadoTxt, new { @class = "form-control", @readonly = true, @type = "text" })

    </div>

    <div class="form-group">

        <input class="btn btn-danger" type="submit" value="Confirmar" />

    </div>

}