
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/_web/css/bootstrap.css" rel="stylesheet" />
    <link href="~/_web/css/base.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h2>@ViewBag.TitlePag</h2>
            </div>
            <div class="card-body divLogin">
                <!--
                    En RenderBody se visualiza el contenido de
                    todas las vistas que utilicen esta plantilla
                -->
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
