@model DataSoporte2020.Data.estado
@{
    ViewBag.Title = "Crear";
    ViewBag.TitlePAg = "Crear estado";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}

<form method="post">
    <div class="form-group">
        <label>id.Estado</label>
        <input required class="form-control" type="number" name="idestado" value="" />
    </div>
    <div class="form-group">
        <label>Desc.Estado</label>
        <input required class="form-control" type="text" name="desc_estado" value="" />
    </div>
    <div class="form-group">
        <input class="btn btn-info" type="submit" value="Grabar" />
    </div>
</form>
<p>
    @Html.ActionLink("Volver", "Index")
</p>
