@model DataSoporte2020.Data.estado
@{
    ViewBag.Title = "Editar";
    ViewBag.TitlePAg = "Editar estado";
    Layout = "~/Views/Shared/_Plantilla.cshtml";
}

<form method="post">
    <div class="form-group">
        <label>id.Estado</label>
        <input readonly class="form-control" type="number" name="idestado" value="@Model.idestado" />
    </div>
    <div class="form-group">
        <label>Desc.Estado</label>
        <input required class="form-control" type="text" name="desc_estado" value="@Model.desc_estado" />
    </div>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Grabar" />
    </div>
</form>
<p>
    @Html.ActionLink("Volver","Index")
</p>